configuration {
	width: 125;
	lines: 5;
	font: "FiraCode Nerd Font 10";
	/*yoffset: -289;*/ /* 1366 x 768 */
	yoffset: -390;
	/*xoffset: 565;*/ /* 1366 x 768 */
	xoffset: 800;
	fixed-num-lines: true;
	scroll-method: 1;
	click-to-exit: false;
	show-match: false;
	show-icons: true;
	/*theme:"/home/josep/script/powermenu.rasi";*/
	theme:"lb";
}

/* vim:ft=css
