Plug 'tpope/vim-commentary'
Plug 'easymotion/vim-easymotion'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'justinmk/vim-sneak'
Plug 'tpope/vim-surround'
set peekaboo
set which-key

let g:sneak#label = 1

set nu
set rnu
set clipboard+=unnamed
set clipboard+=ideaput
set clipboard+=unnamedplus
set ignorecase
set smartcase
set incsearch
set hls
set idearefactormode=keep
set ideajoin

sethandler ˙ a:vim
sethandler ∆ a:vim
sethandler ˚ a:vim
sethandler ¬ a:vim
sethandler <C-o> a:vim
sethandler <C-i> a:vim

let mapleader = " "
nmap <BS> <leader>
nmap <C-z> <Action>(ToggleDistractionFreeMode)
inoremap <C-j><C-k> <Esc>
vnoremap <C-j><C-k> <Esc>
nnoremap <C-j><C-k> <Esc>

" use space for 2 leaders
nmap <space> <leader><leader>

nmap <C-w>c <Action>(CloseAllEditors)
nmap <C-w>d <Action>(CloseAllEditorsButActive)
" for mac
nmap ˙ <C-w>h
nmap ∆ <C-w>j
nmap ˚ <C-w>k
nmap ¬ <C-w>l
" for linux and windows
nmap <A-h> <C-w>h
nmap <A-j> <C-w>j
nmap <A-k> <C-w>k
nmap <A-l> <C-w>l

vmap < <gv
vmap > >gv
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nmap <leader>fc <Action>(CollapseRegion)
nmap <leader>fo <Action>(ExpandRegion)

nmap <leader>la <Action>(Refactorings.QuickListPopupAction)
nmap <Leader>lf <Action>(ReformatCode)
nmap <leader>tf <Action>(GotoFile)
nmap <leader>l] <Action>(GotoNextError)
nmap <leader>l[ <Action>(GotoPreviousError)

nmap <leader>tb <Action>(RecentFiles)
nmap <leader>ts <Action>(GotoFile)
nmap <leader>th <Action>(RecentFiles)
nmap <leader>tw <Action>(SearchEverywhere)

nmap <C-l> :noh<CR>
nmap <C-b> :NERDTree<CR>

" LSP-ish
nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap gp <Action>(GotoSuperMethod)
nmap gt <Action>(GotoTest)
nmap gb <Action>(Back)
nmap <C-o> <Action>(Back)
nmap gf <Action>(Forward)
nmap <C-i> <Action>(Forward)
nmap gh <Action>(QuickJavaDoc)
nmap ge <Action>(ShowErrorDescription)
nmap <leader>gg <Action>(LazyGit.Open)
nmap <leader>s <Action>(ActivateStructureToolWindow)

" sneak
xmap z <Plug>Sneak_z
xmap Z <Plug>Sneak_Z
map f <Plug>Sneak_f
map F <Plug>Sneak_F
map t <Plug>Sneak_t
map T <Plug>Sneak_T

" VCS
" map <leader>gg <Action>(LazyGit.Open)
nmap <leader>gg <Action>(ActivateCommitToolWindow)
nmap <leader>gb <Action>(ActivateVersionControlToolWindow)
nmap <leader>gu <Action>(Vcs.RollbackChangedLines)
nmap <leader>gl <Action>(Vcs.UpdateProject)
nmap <leader>gc <Action>(Vcs.CommitProject)
nmap <leader>gp <Action>(Vcs.Push)
nmap <leader>ga <Action>(Vcs.Add)
nmap <leader>g[ <Action>(VcsShowPrevChangeMarker)
nmap <leader>g] <Action>(VcsShowNextChangeMarker)

nmap <leader>cl <Action>(copilot.chat.show)
